

@font-face {
    font-family: prom;
    src: url(./design/Goudy.otf);
}
header{
    min-height:  100vh;
    background-image: url(./images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    

}
header nav{
    justify-content: space-between;
    display: flex;
    size: 50;
    padding: 20px;
     
}
.sidebar{
    position: fixed;
    right: 20%;
    left: 8.3%;
    top: 17%;
    height: 30vh; 
    width: 85%;
    z-index: 999;
    background-color: white;
    color: black;
    list-style: none;
    display: grid;
    place-content: center;
    gap: px;
    display: none;
    border-radius: 10px;
    box-shadow: 1px 2px 3px gray
  
}

#menu-logo{
    display: none;
}
.triangle{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 55px solid white;
    border-bottom: 30px solid transparent;
    position: fixed;
    right: 6.6%;
    top: 13%;
}
.bar{
   
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 20px;
}
.s-li{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
}
.logo-1{
    width: 200px;
    padding: 0%;
    
}

nav ol{
    display: flex;
    gap: 2rem;
    list-style: none;
    border-radius: 5px;
    color: aliceblue;
 
    
}
.H{
    position: relative;
}
.H:after{
    content: "";
    position: absolute;
    background-color: aliceblue;
    width: 0;
    height: 2px;
    top: 50%;
    right: 10%;
    left: 0%;
    bottom: -1px;

}
.H:hover:after{
    transition: 0.9s;
    width: 100%;
    
}
header h1{
    text-align:center ;
    color: aliceblue;
    margin-top: 150px;
    font-size: 55px;
    
}
.arrow
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    display: block;
    
    
}
     .H:hover{
    transform: scale(1.2);
    } 

    .grid{

        grid-template-columns: 1fr 1fr;
        display: grid;
        height:200vh;
        
    }
   
    .box-1{
        height: 100%;
        align-content: center;
        display: flex;
        justify-content: center;
        align-items: center;
       

    }

    .transform{
       max-width: 500px;
       margin: 20px;
  
       
    

    }
    .transform h1{
        margin-bottom: 10px;
        margin-right: 10px;
        font-family: prom;
        font-size: 37px;
        max-width: 350px;
      
    }
    .transform p {
        font-size: 15px;
        font-weight: lighter;
        color: rgb(133, 134, 134);
        line-height: 1.5rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 600;
        word-spacing: 0.1rem;
        max-width: 400px;
        
    
    }
    .len-1{
        font-family: prom;
        font-size: 12px;
        color: black;
        text-decoration: underline 5px yellow;

       
        
    }


    .box-2{
        background-image: url(./images/desktop/image-transform.jpg);
        background-position: center;
        background-size: cover;
        height: 100%;

    }

    

    .box-3{
        background-image: url(./images/desktop/image-stand-out.jpg);
        background-position: center;
        background-size: cover;
        height: 100%;
        

    }
    .box-4{
        height: 100%;
        align-content: center;
        display: flex;
        justify-content: center;
        align-items: center;
       
       

    }
    .standout{
        flex-direction: column;
       align-items: flex-start;
       max-width: 500px;
       gap: 2rem;
       margin: 20px;
       
       
      
    }
    .standout h1{
        margin-bottom: 10px;
         font-size: 33px;
         font-family:prom ;
         font-weight: lighter;
         margin-bottom: 15px;
         }
       
    
    .standout p{
       
        font-size: 15px;
        color: rgb(133, 134, 134);
        font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 600;
        word-spacing: 0.1rem;
        line-height: 1.5rem;
        max-width: 390px;
    
        
    }

    .len-2{
        font-family: prom;
        font-size: 12px;
        color: black;
        text-decoration: underline 5px red;
       
        
    }

    .box-5{
        background-image: url(./images/desktop/image-graphic-design.jpg);
        background-position: center;
        background-size: cover;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
    
        }
    .graphic{

        margin-bottom: 60px;
        
        color:  hsl(167, 40%, 24%); 
        flex-direction: column;
        max-width: 300px;
        text-align: center;
        line-height: 1.5rem;
        

    }
     
    .graphic h1{
        margin-bottom: 10px;
        font-size: 25px;
        font-family: prom;
    }
    .graphic p{
        font-size: 15px;
        
    }




    .box-6{
     background-image: url(./images/desktop/image-photography.jpg);  
     background-position: center;
     background-size: cover;
     height: 100%; 
     display: flex;
     align-items: end;
     justify-content: center;
    } 
    .photography{
        text-align: center;
        margin-bottom: 60px;
        color: hsl(198, 62%, 26%);
        max-width: 300px;
        line-height: 1.5rem;
        

    }
    .photography p{
      
        font-size: 15px;
    }
    .photography h1{
        margin-bottom: 10px;
        font-family: prom;
}


.sec{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 450px;
    
    
    

}
.testimonials{
    
    text-align: center;
    font-size: 16px;
     padding-top: 100px; 

}



.sec-1{
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.sec-2{
    align-items: center;
    justify-content: center;
    display: flex;

    
}
.sec-3
{
    align-items: center;
    justify-content: center;
    display: flex;
}

.emilie-img{
    border-radius: 50%;
    transform: scale(0.3);  
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}
.emilie{
    text-align: center;
    max-width: 300px;
}
.jennie-img{
    border-radius: 50%;
    transform: scale(0.3);
}
.jennie{
    text-align: center;
    max-width: 300px;
    
}
.Thomas{
    text-align: center;
    max-width: 300px;

}

.Thomas-img{
    border-radius: 50%;
    transform: scale(0.3);
}


.test-h1{
    margin-top: 50px;
    font-size: 17px;
    font-weight: bolder;
    font-family: prom;
    
}

.pos{
    font-size: small;
    font-weight: bolder;
    color: rgb(212, 207, 207);

}















.end{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 400px;
}
    


.end-1{
    background-image: url(./images/desktop/image-gallery-milkbottles.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
}
.end-2{
    background-image: url(./images/desktop/image-gallery-orange.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
}
.end-3{
    background-image: url(./images/desktop/image-gallery-cone.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
}
.end-4{
    background-image: url(./images/desktop/image-gallery-sugarcubes.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
}
.foot{
    height: 50vh;
background-color: rgb(34, 224, 209);


}

.sunny{
    
    padding-top: 50px;
    text-align: center;
 

}

.ASP{
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-spacing: 2rem;
    color: hsl(168, 34%, 41%)
    ;
}
.social{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap:1rem;

}



@media(max-width:768px){
    header{
    background-image: url(./images/mobile/image-header.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    }
    .arrow{
        margin-top:0px;
        transform: scale(0.7);
    }
    /* .sidebar{
       width: 100%;;
    } */
    header h1{
    text-align:center ;
    color: aliceblue;
    margin-top: 3px;
    letter-spacing: 4px;
    font-size: 30px;
margin-top: 55px;}

   .logo-1{
    width: 80px;
    height: 18px;
   }
   header nav{
    padding: 10px;
   }
 
   #menu-logo{
    display: flex;
}


  .transform{

padding: 0px;
text-align: center;
margin: 5%;


        }
    
.transform h1{
    font-size:20px ;
    margin-bottom: 30px;
    max-width: 400px;
    padding: 0%;
    
   
}
.transform p{
    font-size: 14px;
    line-height: 20px; 
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 0rem;
    width: 100%;
 
 
    

}
.standout{
    padding: 0px;
    text-align: center;
    margin-bottom: 20%;
 
    
}
.standout h1{
    font-size:20px ;
    margin-bottom: 30px;
    max-width: 400px;
    padding: 0%;
}
    .standout p{
        font-size: 14px;
        line-height: 20px; 
        padding: 0%;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
        word-spacing: 0rem;
      
      width:100%;
    }




    .graphic{
        padding: 10px;
        text-align: center;
        margin-bottom: 0%;
        max-width: 270px;  
    }
    .graphic h1{
    font-size:20px ;
    margin-bottom: 15px; 
    }
    .graphic p{
        font-size: 13px;
        line-height: 17px   
    }




    .photography{
        padding: 10px;
        text-align: center;
        margin-bottom: 0%;
        max-width: 300px;    
    }
    .photography h1{
        font-size:20px ;
    margin-bottom: 15px;
    }

    .photography p{
        font-size: 13px;
        line-height: 17px 
    }

    .sec{
        grid-template-columns: 1fr;
        
        height: auto;
    }
    .end{
        grid-template-columns: 1fr 1fr;
    }
    .grid {
        height: 250vh;
        display: flex; /* This is essential for order to work */
        gap: 0rem; /* Optional: space between elements */
        flex-direction: column; /* Default horizontal layout */
    
    }
    .box-1 {
        order: -1; /* Box 1 will come after Box 2 */
    }
    
    .box-2 {
        order: -2; /* Box 2 will come before Box 1 */
    }
    
    .box-3, .box-4, .box-5, .box-6 {
        order: 0; /* Default order for the other boxes */
    }
    .H{
        display: none;
    }
   

    
    
    .test-2{
        margin-top: 25px;
}
.test{
    padding: 15px;
}
.s-li:hover{
    color: black;
    background-color: yellow;
    padding: 7px;
    border-radius: 30px;

    transition: 0.6s;
}
}